* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* 가기전 */
a:link {
  color: white;
}
/* 갔다온 */
a:visited {
  color: white;
}
/* 마우스 위에 올라오면 */
a:hover {
  color: #ff5c00;
}
/* 마우스 누르면 졸라 잠깐 보이는. */
a:active {
  color: gray;
}

.topNav {
  background-color: black;
  /* 나중에 줄일 것 */
  /* min-height: 10px; */
  /* max-width: 1440px; */
  margin-inline: auto;
  padding: 24px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topNav__buttons {
  display: flex;
  gap: 44px;
}
.topNav__button {
  color: white;
  /* text-transform: capitalize; */
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-weight: 400;
  font-size: 24px;
  color: white;

  &:hover {
    background-color: unset;
    color: #ff5c00;
  }
}

.topNav__logo {
  height: 28px;
}

iframe,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.img {
  max-width: 1440px;
  margin-inline: auto;
}
